In [6]:
# Shelgir Aziz
# Question 8
# Reference: https://mungingdata.com/sqlite/create-database-load-csv-python/

import sqlite3
import csv

conn = sqlite3.connect('temperature_data.db')
c = conn.cursor()

c.execute('''CREATE TABLE IF NOT EXISTS temperature_data
             (City text, Country text, Season text, Temperature real, Rainfall real)''')

with open('countries.csv') as csvfile:
    reader = csv.reader(csvfile)
    next(reader)
    for row in reader:
        c.execute("INSERT INTO temperature_data VALUES (?, ?, ?, ?, ?)", row)

# All the temperature data
c.execute("SELECT Temperature FROM temperature_data")
all_temperatures = c.fetchall()
print(all_temperatures)

# All the cities, but without repetition
c.execute("SELECT DISTINCT City FROM temperature_data")
all_cities = c.fetchall()
print(all_cities)

# All the records for India
c.execute("SELECT * FROM temperature_data WHERE Country='India'")
india_records = c.fetchall()
print(india_records)

# All the Fall records
c.execute("SELECT * FROM temperature_data WHERE Season='Fall'")
fall_records = c.fetchall()
print(fall_records)

# The city, country, and season for which the average rainfall is between 200 and 400 millimeters
c.execute("SELECT City, Country, Season FROM temperature_data WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")
avg_rainfall_200_400 = c.fetchall()
print(avg_rainfall_200_400)

# The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
c.execute("SELECT City, Country FROM temperature_data WHERE Season='Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
avg_fall_temp_above_20 = c.fetchall()
print(avg_fall_temp_above_20)

# The total annual rainfall for Cairo
c.execute("SELECT SUM(Rainfall) FROM temperature_data WHERE City='Cairo'")
cairo_total_rainfall = c.fetchone()[0]
print(cairo_total_rainfall)

# The total rainfall for each season
c.execute("SELECT Season, SUM(Rainfall) FROM temperature_data GROUP BY Season")
total_rainfall_season = c.fetchall()
print(total_rainfall_season)


conn.close()

[('24.8\n28.4',), (27.9,), ('27.6\n4.2',), (8.3,), ('15.7\n10.4',), (13.6,), ('20.7\n20.7',), ('',)]
[('Mumbai\nMumbai',), ('Mumbai',), ('Mumbai\nLondon',), ('London',), ('London\nLondon',), ('Cairo',), ('Cairo\nCairo',)]
[('Mumbai', 'India', 'Summer', 27.9, 1549.4)]
[('Cairo', 'Egypt', 'Fall', '', 4.5)]
[]
[]
21.0
[('Fall', 4.5), ('Fall\nWinter', 346.0), ('Spring', 169.6), ('Spring\nSummer', 6.5), ('Summer', 1549.4), ('Summer\nFall', 157.0), ('Winter', 16.5), ('Winter\nSpring', 5.9)]